---
import Bento from "../Bento.astro";
import Cronograma from "../Cronograma.astro";
import Footer from "../Footer.astro";
import GraficasBento from "../GraficasBento.astro";
import Intro from "../Intro.astro";
import Video from "../Video.astro";
import Layout from "../../layouts/Layout.astro";

import { getI18N } from "../../i18n";
import BentoItem from "../BentoItem.astro";
import SingleTextItem from "../SingleTextItem.astro";
import IntroContent from "../IntroContent.astro";
import SingleTextItem2 from "../SingleTextItem2.astro";
import Bento2 from "../Bento2.astro";
import IntroContent2 from "../IntroContent2.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
  <main>
    <Video />
    <Intro />
    <Bento />
    <SingleTextItem />
    <SingleTextItem2 />
    <IntroContent />
    <Bento2 />
    <IntroContent2 />
    <Cronograma />
    <Footer />
  </main>
</Layout>

<style></style>
