---
import Layout from "../layouts/Layout.astro";
---

<Layout title="descripcion" , description="desc">
  <main class="py-8">
    <h1 class="text-2xl text-white">Página de descripcion</h1>
  </main>
</Layout>
