---
import Bento from "../components/Bento.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Intro from "../components/Intro.astro";
import Video from "../components/Video.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Investigaci칩n Steam Store, An치lisis de factores que influyen en la valoracion de juegos en la Steam Store"
  description="Investigacion de como influyen los par치metros en la valoraci칩n de los video-juegos de la Steam Store"
>
  <main>
    <Video />
    <Intro />
    <Bento />
    <Footer />
  </main>
</Layout>

<style></style>
