---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="resourses" , description="resourses">
  <main class="py-8">
    <h1 class="text-2xl text-white">Resourses</h1>
  </main>
</Layout>
