---
import { Gantt } from "./Gantt";
---

<section
  class="text-xl text-left px-5 mx-5 md:mx-auto max-w-7xl text-pretty my-24 rounded-xl
backdrop-blur-md
border border-black/10
shadow-inner shadow-white/10
overflow-hidden"
>
  <div class="select-none flex flex-col gap-1 p-6 text-lg z-20">
    <h2 class="text-3xl font-semibold text-balance">
      Cronograma de actividades
    </h2>
    <Gantt client:visible />
  </div>
</section>
