---
import BarChart from "./BarChart";
import LineChart from "./LineChart";
import PieChart from "./PieChart";
import ScatterChart from "./ScatterChart";
---

<section
  class={`
  w-full max-w-7xl
  grid grid-cols-10 gap-4
  mx-auto px-5 md:px-0
   my-24
`}
>
  <PieChart
    client:visible
    tailwindStyles="col-span-10 md:col-span-4  relative rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 overflow-hidden flex items-center bg-[#3F102F]"
  />
  <BarChart
    client:visible
    tailwindStyles="col-span-10 md:col-span-6 relative rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 overflow-hidden flex items-center bg-[#163F24]"
  />
  <LineChart
    client:visible
    tailwindStyles="col-span-10 md:col-span-6 relative rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 overflow-hidden flex items-center bg-[#583C1A]"
  />

  <ScatterChart
    client:visible
    tailwindStyles="col-span-10 md:col-span-4 relative rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 overflow-hidden flex items-center bg-[#23374B]"
  />
</section>
