<div class="w-full relative">
  <div class="w-full flex justify-center">
    <h1
      class="absolute z-10 text-5xl text-white top-20 uppercase font-semibold max-w-7xl text-center text-balance"
    >
      Factores que influyen en la popularidad y valoración de video-juegos en la
      Steam Store
    </h1>
  </div>

  <video
    class="w-full h-screen object-cover animate-fade animate-duration-1000"
    src="./steam-video.mp4"
    autoplay
    muted
    style="clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);"></video>
  <video
    class="absolute -bottom-48 blur-3xl -z-40"
    src="/steam-video.mp4"
    autoplay
    muted
    loop></video>
</div>
